[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
jmespath = "*"
xmltodict = "*"
cuid = "*"

[dev-packages]
mypy = "*"
black = "*"
vistir = "==0.6.1"
pipenv-setup = {extras = ["black"], version = "*"}
pre-commit = "*"
types-jmespath = "*"
tox = "*"
invoke = "*"
twine = "*"
wheel = "*"
"zest.releaser" = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.10"
